body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
}
#parent{
    border: 2px solid black;
    width: fit-content;

}
#child1, #child2{
    border: 2px solid black;
    width: fit-content;
}
#heading1{
    color: rgb(63, 166, 207);
}
#heading2{
    color: rgb(23, 62, 172);
}